.sidebar{
    background-color: #f9f9f9;
    max-width: 300px;
    padding-right: 20px;
    flex: 0.3;
}

.sidebar__compose{
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: #808080;
    padding: 15px 30px !important;
    border-radius: 20px !important;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,.75);
    background-color: red ;
}

.sidebar__footer{
    display: flex;
    justify-content: center;
}
